<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalcService" />
                <binding name="BasicHttpBinding_ICalcService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7965/CalcService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICalcService" contract="CalcService.ICalcService"
                name="BasicHttpBinding_ICalcService" />
            <endpoint address="http://localhost:7965/CalcService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICalcService1" contract="CalcServiceReference.ICalcService"
                name="BasicHttpBinding_ICalcService1" />
        </client>
    </system.serviceModel>
</configuration>