@model Exercise31_10_2016.Models.Students.Repository
@{
    ViewBag.Title = "OperationsOnStudents";
}

<h2>OperationsOnStudents</h2>

/*document.getElementById("demo").innerHTML = myFunction(4, 3);*/